* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: #e4f7ef;
}

header {
    text-align: center;
    background: #acfadb;
    padding: 30px;
}

header h1 {
    font-size: 80px;
    color: black;
}

nav ul {
    list-style-type: none;
    background-color: #acfadb;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

nav a {
    color: black;
    text-decoration: none;
    padding: 16px;
    display: block;
    font-weight: bold;
    font-size: 30px;
}

nav li {
    float: left
}

nav a:hover {
    background-color: black;
    color: white;
}

.row {
    padding: 0 20px;
    display: table;
}

section {
    float: left;
    width: 75%;
}

section h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

aside {
    float: left;
    width: 25%;
    padding-left: 20px;
}

.card {
    background-color: #e4f7ef;
    padding: 20px;
    margin-top: 20px;
}

.card2 {
    text-align: center;
    background-color: #e4f7ef;
    padding: 20px;
    margin-top: 20px;
}

footer {
    padding: 20px;
    background: #acfadb;
    color: black;
    margin-top: 20px;
    display: table;
    width: 100%;
}

footer dl, footer p {
    display: table-cell;
    vertical-align: middle;
}

footer dt {
    font-weight: bold;
}

footer dd {
    margin-left: 0;
}

footer p {
    text-align: right;
    font-weight: bold;
    font-size: 25px;
}

.rodapé {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 150px;
}

@media screen and (max-width: 768px) {
    section, aside {
        width: 100%;
        padding: 0;
    }
}

@media screen and (max-width: 600px) {
    nav li {
        float: none;
        text-align: center;
        width: 100%;
    }

    .rodapé {
        display: none;
    }

    header h1 {
        font-size: 50px;
    }
}